.userName{
      width: 905px;
}

.userPhoto {
      width:100px;
      height:100px;
}
.yes-no{
      display: flex;
      justify-content: center;
}

.yes{
      margin:2rem 2rem ;
      padding: 1rem;
      border: none;
      border-radius: 10px;
}

.no{
      margin: 2rem 2rem;
      padding: 1rem;
      border: none;
      border-radius: 10px;
}

.yes:hover{
      color: white;
      background: black;
      box-shadow: 4px 4px 60px 8px #f59608;
}

.no:hover{
      color: white;
      background: black;
      box-shadow: 4px 4px 60px 8px #f59608;
}

.decisionPN{
      background: none;
      padding: 3em;
      width: 1000px;
      margin-left: 219px;
      height: 30vh;
      border-radius: 20px;
}

.userBio{
      width: 154vh;
      height: 35vh;
      padding: 2rem;
      border: 1px solid #f3c98b;
      background: #f3c98b;
      margin-left: 23vh;
      margin-top: 2rem;
      border-radius: 15px;
      word-break: break-all;
}

.userInterests{
      width: 154vh;
      height: 35vh;
      padding: 2rem;
      border: 1px solid #c46d5e;
      background: #c46d5e;
      margin-left: 23vh;
      margin-top: 2rem;
      margin-bottom: 2vh;
      border-radius: 15px;
}

.interestList{
      list-style-type: none;
      margin: 1rem 1rem ;
      padding: .8em;
      border: none;
      border-radius: 10px;
}
.arrowBtn{
      background:none;
      border-radius: 10px;
}