*,
*::before,
*::after{
      -webkit-box-sizing: border-box;
      box-sizing: border-box ;
      margin: 0;
      padding: 0;
}

body {
      background: linear-gradient(45deg, #f56960, #f3c98b);
      height: 100vh;
      font-family: 'Montserrat', sans-serif;
      background-repeat: none;
}

.form-container {
      position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
}

      .loginForm {
      background: white;
      padding: 3em;
      height: 280px;
      border-radius: 20px;
      border-left: 1px solid white;
      border-top: 1px solid white;
      box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
      text-align: center;
      position: relative;
      transition: all 0.2s ease-in-out;
      }
      
input {
            background: transparent;
            width: 200px;
            padding: 1em;
            margin-bottom: 2em;
            border: none;
            border-left: 1px solid white;
            border-top: 1px solid white;
            border-radius: 5000px;
            backdrop-filter: blur(5px);
            box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
            font-family: Montserrat, sans-serif;
            font-weight: 500;
            transition: all 0.2s ease-in-out;
            text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.log-in{
      background: transparent;
      width: 200px;
      padding: 1em;
      margin-bottom: 2em;
      border: none;
      border-left: 1px solid white;
      border-top: 1px solid white;
      border-radius: 5000px;
      box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
      font-family: Montserrat, sans-serif;
      font-weight: 500;
      transition: all 0.2s ease-in-out;
      text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
      color:black;
}

.log-in:hover {
      background: rgba(255,255,255,0.1);
      box-shadow: 4px 4px 60px 8px #f3c98b;
}

