.profileTitle{
      padding: 1.2rem;
      
}

.profileEmail{
      padding: 1.2rem;
}

.hidden {
      display: none;
}

.hide {
      display: none;
}
.profileImage {
      width: 100px;
}


.showBtn{
      margin: 1rem 1rem ;
      padding: .8em;
      border: none;
      border-radius: 10px;
}

.hideBtn{
      margin: 1rem 1rem ;
      padding: .8em;
      border: none;
      border-radius: 10px;
}

.imager{
      display: flex;
      width: 86rem;
      margin: 1rem ;
}

.fileContainer{
      background: none;
}

.confirmBtn{
      margin: 1rem 1rem ;
      padding: .8em;
      border: none;
      border-radius: 10px;
}