/* .profileIndex {
  display: flex;
  justify-content: center;
} */

.photoUploadForm {
  display: flex;
}

.profileTitle {
  padding: 1.2rem;
}

.profileEmail {
  padding: 1.2rem;
}

.hidden {
  display: none;
}

.profileName {
  font-size: 40px;
}

.hide {
  display: none;
}
.profileImage {
  width: 50px;
  height: auto;
  border-radius: 50%;
  border: 2px solid white;
  flex: 0 0 100%;
}

.friendName {
  flex: 0 0 100%;
}

.profileImg {
  width: 300px;
  height: auto;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: -30px;
}

.showBtn {
  margin: 1rem 1rem;
  padding: 0.8em;
  border: none;
  border-radius: 10px;
}

.hideBtn {
  margin: 1rem 1rem;
  padding: 0.8em;
  border: none;
  border-radius: 10px;
}

.hideBtn:hover,
.showBtn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.friendList {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  height: 40px;
  padding: 40px;
  align-items: center;
  justify-content: center;
}

.imager {
  /* width: 86rem; */
  margin-top: -40px;
  justify-content: center;
}

.fileContainer {
  background: none;
}

.confirmBtn {
  margin: 1rem 1rem;
  padding: 0.8em;
  border: none;
  border-radius: 10px;
}

.xDelete {
  background-color: rgb(0, 0, 0, 0.1);
  color: red;
  border-radius: 50%;
  border: white;
}

.xDelete:hover {
  color: black;
  cursor: pointer;
}

.profileFormWrap {
  display: fixed;
}
