.profileImg {
  width: 400px;
  height: 400px;
}

.editBtn {
  margin: 1rem 1rem;
  padding: 0.8em;
  border: none;
  border-radius: 10px;
}

.bioIndex {
  margin: 1vh;
  padding: 10vh;
  margin-top: -70px;
  margin-bottom: -50px;
}

.editBtn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.bioBlock {
  margin-top: 20px;
  word-break: break-all;
}

.editProfileForm {
  display: flex;
  justify-content: center;
}
